.blackBG {
	background-color: #0d1112;
	padding: 0;
	margin: 0;
	width: 100%;
	min-height: 100%;
	overflow-y: scroll;
	// height: max-content;

	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
}

.navbar {
	position: fixed;
	margin-top: 1rem;
	padding-inline: 2rem;

	.icon {
		font-size: 1.5rem;
	}

	a {
		display: flex;
		align-items: center;
		gap: 0.3rem;
		font-size: 0.7rem;
	}
}

.body {
	width: 80%;
	margin-inline: auto;
	margin-top: 4rem;

	display: flex;
	flex-direction: row-reverse;

	.navigation {
		position: fixed;
		right: 0;
		width: 20%;
		height: 80vh;

		h2 {
			font-size: 1.2rem;
			font-family: sans-serif; //TODO: Font Family
			padding: 0.4rem 0.5rem;
			transition: all 0.25s ease-in-out;
			margin-left: 2rem;
			color: rgba($color: #fff, $alpha: 0.7);

			&:first-of-type {
				margin-top: 0.7rem;
			}

			&:hover,
			&:active {
				font-size: 1.35rem;
				color: rgba($color: #fff, $alpha: 0.9);
			}
		}
	}

	.main {
		position: absolute;
		left: calc(20% - 2rem);
		align-self: flex-start;
		width: 60%;

		.header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			.projectName {
				font-size: 4rem;
				font-family: sans-serif;
			}
		}
		.description {
			margin-block: 2rem;
			font-size: 1.1rem;
			font-family: sans-serif;
			letter-spacing: 0.05rem;
			line-height: 1.5rem;
		}
		.overview {
			margin-top: 2.5rem;
			display: flex;
			border: 1px solid white;
			padding: 2rem 2rem;
			align-items: center;
			justify-content: space-evenly;
			border-radius: 0.5rem;
			width: 90%;
			margin-inline: auto;

			h1 {
				width: 40%;
				font-size: 2.5rem;
			}

			h3 {
				margin-top: 0.5rem;
				color: rgba($color: #fff, $alpha: 0.7);
			}
		}

		.tech {
			margin-top: 2.5rem;
			h1 {
				font-size: 2rem;
			}
			> div {
				margin-top: 2rem;
				display: flex;
				align-items: center;
				gap: 2rem;
			}
			.techImg {
				filter: brightness(0) invert(1);
				width: 7rem;
				height: auto;
				transition: all 0.25s ease-out;

				&:hover {
					filter: brightness(1);
				}
			}
		}
		.gallery {
			margin-top: 2rem;

			.slide {
				margin-block: 2rem;
			}
		}

		// Section
		.section {
			margin-bottom: 2rem;
			font-family: sans-serif; //TODO: FontFamily

			.sectionHead {
				font-size: 2rem;
				margin-bottom: 0.8rem;
			}
			.sectionDesc {
				font-size: 1.1rem;
				font-family: sans-serif;
				letter-spacing: 0.025rem;
				line-height: 1.5rem;
				color: rgba($color: #fff, $alpha: 0.8);
			}
			.sectionLine {
				margin-top: 0.5rem;
			}
			.sectionPoint {
				margin-top: 0.5rem;
				// display: list-item;
			}

			.keyVal {
				display: flex;
				// justify-content: center;
				align-items: center;
				gap: 1rem;
			}
		}
	}
}

.navigationActive {
	font-size: 1.35rem !important;
	color: rgba($color: #fff, $alpha: 0.9) !important;
}
