.cursor {
	z-index: 99999999999;
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;

	position: absolute;
	background-color: #fff;
	mix-blend-mode: difference;
	transform: translate(-50%, -50%);
	transition: width 0.25s ease-out, height 0.25s ease-out, background-image 0.25s ease-out, mix-blend-mode 0.25s ease-out;
	pointer-events: none;

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.cursorHover {
	width: 5rem;
	height: 5rem;
}
